@import './spectre.min.css';
@import './font-awesome.min.css';

header {
    text-align: center;
}

section#main {
    max-width: 1000px;
    margin: auto;
}

td {
    border: none;
}

tr.selected {
    background-color: #eeccff;
}

.file-name {
    font-size: 120%;
    font-weight: bold;
}

.file-size {
    font-size: 110%;
}

.vis-title {
    margin-top: 30px;
    margin-left: 75px;
}

nav#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}