@import './normalize.min.css';
@import './milligram.min.css';
@import './font-awesome.min.css';

h1 {
    text-align: center;
}
body {
    max-width: 1000px;
    margin: auto;
}
table {
    max-width: 500px;
    margin: auto;
}
td {
    border: none;
}
tr.selected {
    background-color: #aaeeff;
}