{% load staticfiles %}
<html>
<head>
    <title>DataHog</title>
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <section id="app"></section>
    <footer></footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>