header {
    text-align: center;
}

a:focus {
    outline:none;
    box-shadow:none;
}

#main {
    max-width: 1000px;
    margin: auto;
}

.panel, .card {
    margin-top: 18px;
}

.panel {
    height: 535px;
}

.tooltip {
    position: relative;
}

.file-table {
    table-layout: fixed;
    width: 100%;
}

.file-table .name-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-table .size-cell {
    width: 100px;
    text-align: right;
}

.file-table .options-cell {
    width: 100px;
    text-align: right;
}

.file-table .click-to-copy {
    font-size: 0.6rem;
    display: none;
}

.file-table tr:hover .click-to-copy {
    display: inline;
}

.file-table td, .file-tree td {
    border: none !important;
    padding: 0;
    height: 40px;
}

.light-head th {
    color: #999;
}

.vis-title {
    margin-top: 30px;
    margin-left: 75px;
}

nav#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-input-hint {
    position: relative;
    top: 0;
    transition: top 200ms;
}