h1, h2 {
    color: #142147;
}

header {
    margin: 0.75rem 0.5rem 0.25rem 0.5rem;
}

header h1 {
    display: inline;
    vertical-align: middle;
}

header img {
    height: 4rem;
    vertical-align: middle;
}

article {
    margin: 25px;
    padding: 1px 25px 25px 25px;
    background-color: #f3f5f9;
}

article h5 {
    margin-top: 0;
}

p {
    margin: inherit;
}

.source-menu-wrapper {
    height: 70px;
}

.source-menu-wrapper .menu {
    position: absolute;
    display: inline-block;
    text-align: left;
    width: 445px;
}

.collapse-icon {
    float: right;
    margin-top: 8px;
}

.directory-menu .menu-item:hover .delete-button {
    display: inline;
}

a:focus {
    outline:none;
    box-shadow:none;
}

.btn.btn-sm:focus {
    box-shadow: none;
}

#app {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.panel, .card {
    margin-top: 18px;
    border-width: 0.1rem;
}

.tab-block {
    border-bottom-width: 0.1rem;
}

.panel.fixed-height .panel-body {
    height: 435px;
}

.card.fixed-height {
    min-height: 535px;
}

.tooltip {
    position: relative;
}

.file-table {
    table-layout: fixed;
    width: 100%;
}

.file-table .name-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-table .size-cell {
    width: 95px;
    text-align: right;
}

.file-table .date-cell {
    width: 95px;
    text-align: right;
}

.modal-container {
    max-height: inherit;
}

.import-modal .modal-body {
    height: 500px;
}

.file-table .options-cell {
    width: 90px;
    text-align: right;
}

.file-table .table-option {
    font-size: 0.6rem;
    display: none;
}

.file-table tr:hover .table-option {
    display: inline;
}

.table td, .table th {
    border: none;
    padding: 0px;
    height: 40px;
}

.panel-header.search-header {
    border-bottom: .1rem solid #e7e9ed;
    padding-bottom: 5px;
}

.vis-title {
    margin-top: 30px;
    margin-left: 75px;
}

#sizeTimeline, #typeChart {
    margin: 10px 0;
}

nav#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-input-hint {
    position: relative;
    top: 0;
    transition: top 200ms;
}

.form-horizontal {
    margin: 0;
    padding: 0;
}

.has-btn-right {
    position: relative;
}

.has-btn-right .form-btn {
    margin: 0 .25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    right: .05rem;
}

.toast {
    margin-top: 15px;
}

.tab .tab-item a.active, .tab .tab-item.active a {
    border-bottom-color: #5755d9;
    color: #5755d9;
}

.empty {
    background: inherit;
}



.import-form h5 {
    margin: 30px;
}

.import-form {
    max-width: 600px;
    margin: auto;
}

.import-form .tab-block {
    border-bottom: none;
    margin-bottom: 20px;
}

.import-form .submit-group {
    margin-top: 30px;
}

.multi-select {
    margin-top: -8px;
}


.timeline-subtitle {
    font-size: 80%;
    fill: #acb3c2;
}