header {
    text-align: center;
}

a:focus {
    outline:none;
    box-shadow:none;
}

#main {
    max-width: 1000px;
    margin: auto;
}

.panel, .card {
    margin-top: 18px;
}

.panel.fixed-height {
    height: 535px;
}

.card.fixed-height {
    min-height: 535px;
}

.tooltip {
    position: relative;
}

.file-table {
    table-layout: fixed;
    width: 100%;
}

.file-table .name-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-table .size-cell {
    max-width: 100px;
    text-align: right;
}

.file-table .options-cell {
    width: 100px;
    text-align: right;
}

.file-table .click-to-copy {
    font-size: 0.6rem;
    display: none;
}

.file-table tr:hover .click-to-copy {
    display: inline;
}

.table td, .table th {
    border: none;
    padding: 0px;
    height: 40px;
}

.panel-header.search-header {
    border-bottom: .05rem solid #e7e9ed;
    padding-bottom: 5px;
}

.vis-title {
    margin-top: 30px;
    margin-left: 75px;
}

nav#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-input-hint {
    position: relative;
    top: 0;
    transition: top 200ms;
}

.form-horizontal {
    margin: 0;
    padding: 0;
}

.has-btn-right {
    position: relative;
}

.has-btn-right .form-btn {
    margin: 0 .25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    right: .05rem;
}