amqp==2.3.2
billiard==3.5.0.4
boto3==1.9.129
celery==4.2.1
Django==2.2.24
djangorestframework==3.9.1
kombu==4.2.1
prettytable==0.7.2
python-irodsclient==0.8.1
pytz==2018.5
requests==2.20.0
six==1.11.0
vine==1.1.4
xmlrunner==1.7.7