header {
    text-align: center;
}

#main {
    max-width: 1000px;
    margin: auto;
}

.panel {
    margin-top: 18px;
}

.file-table td, .file-tree td {
    border: none !important;
    padding: 0;
    height: 40px;
}

.light-head th {
    color: #999;
}

.file-table .click-to-copy {
    font-size: 0.6rem;
}

.vis-title {
    margin-top: 30px;
    margin-left: 75px;
}

nav#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-input-hint {
    position: relative;
    top: 0;
    transition: top 200ms;
}